@{
	Layout = null;
}


<!DOCTYPE HTML>

<html>
<head>
	<title>Prologue by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/template_app/assets/css/main.css" />
	@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
	@RenderSection("Styles", required: false)
</head>
<body class="is-preload">

	
	@await  Component.InvokeAsync("WebLayoutHeader");
	

	
	<div id="main">

		

		@RenderBody();

	</div>

	@await Component.InvokeAsync("WebLayoutFooter");

	
	@await Component.InvokeAsync("WebLayoutScripts");
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>