@model ChatViewModel
@section Styles {

    <link rel="stylesheet" href="~/css/chat.css">
}

<div style="width:100%;">
    <div class="box">


        <div class="column column-1 border-5">

            @await Component.InvokeAsync("ChatUserBox")


        </div>


        <div class="column column-2">
        </div>





    </div>
</div>






<script src="~/js/site.js"></script>

