<div class="side-bar @(ViewBag.SidebarSize == "Small" ? "smaller" : "")">
    <div class="logo">
        <h2>
            <a asp-controller="Home" asp-action="Index"> <i class="fa-solid fa-message"></i> </a>

        </h2>
    </div>

    <div class="ul-container">



        <ul>

            <li><a asp-controller="User" asp-action="Index"><i class="fa-solid fa-user"></i> <p class="link">Hesabım</p><br></a></li>
                   
            <ul class="dropdown">

                <li><a asp-controller="User" asp-action="Index">Update Profile</a></li>
                <li><a asp-controller="User" asp-action="ChangePassword">Change Password</a></li>


            </ul>

                       
            <li><a><i class="fa-solid fa-bell"></i>  <p class="link">Bildirimler</p><br></a></li>
            <li class="messages"><a asp-controller="Chat" asp-action="Index"><i class="fa fa-envelope"></i> <p class="link">Messages</p><br></a></li>

        </ul>

        <ul class="end">
            
            <li><a asp-controller="Login" asp-action="Logout"><i class="fa fa-right-from-bracket"></i>  <p class="link">Çıkış Yap</p><br></a></li>

        </ul>
    </div>

</div>