@model UserUpdateInformationDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="~/login-form/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    @await Component.InvokeAsync("Sidebar")
    
        <input type="checkbox" id="flip">
        <div class="forms">
            <div class="form-content">
                <div class="signup-form">
                    <div class="title">My Account</div>
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" style="color:red;"></div>
                        <div class="row input-boxes">
                            <div class="input-box col-6">
                                <i class="fas fa-user"></i>
                                <input type="text"  name="UserName">
                            </div>
                            <div class="input-box col-6">
                                <i class="fas fa-signature"></i>
                                <input type="text"  name="Nickname">
                            </div>

                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text"  name="Email" >
                            </div>


                            <input class="form-control" id="UserImage" asp-for="UserImage">




                            <div class="button input-box">
                                <input type="submit" value="Update">
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
 
        @await Component.InvokeAsync("ConfirmMailModal");

</body>
</html>
